<div class="card mb-3">

  <div class="card-header">
    <span> <i class="fa fa-user-circle fa-2x mr-2 p-1 shadow-sm bg-white rounded-circle"></i>
      User You
    </span>
  </div>

  <div class="card-body bg-white">
    <form #postForm='ngForm' (ngSubmit)='postIssue()'>

      <div class="form-group">
        <input type="text" class="form-control"
        name="title" id="title" #title='ngModel'
        [(ngModel)]="newPost.title"
        Placeholder="Post title..."
        >
      </div>

      <div class="form-group">
        <textarea
          name="content" id="content" cols="5" rows="3"
          class="form-control" #content='ngModel' [(ngModel)]='newPost.content'
          placeholder="Type your post here...">
        </textarea>
      </div>

      <label for="category">Select post category</label>
      <div class="input-group">
        <select class="custom-select"
        name="category" id="category" #category='ngModel'
        [(ngModel)]='newPost.category'>
        <option *ngFor='let category of categories; let i=index' id={{i}}>{{category}}</option>
        </select>
        <div class="input-group-append">
          <button class="btn bg-moringa text-white font-weight-bolder shadow-sm">Post</button>
        </div>
      </div>

      <div class="form-group">

      </div>

    </form>
  </div>


</div>
