<app-post-nav></app-post-nav>

<div class="postmain mt-5">

  <app-post-form [categories]='categories' (newPostEvent)='postIssue($event)'></app-post-form>

  <div class="card  mb-3" *ngFor='let post of posts;let i=index'>

    <div class="card-header">
      <span> <i class="fa fa-user-circle fa-2x mr-2 p-1 shadow-sm bg-white rounded-circle"></i>
        {{post.username}}
      </span>
    </div>

    <div class="card-body">

      <h5 class="card-title">{{post.category}}: {{post.title}} </h5>
      <p class="card-text"></p>

      <div class="mb-2">
        {{post.content}}
      </div>

      <div class="container">

        <div *ngIf='post.showComments; else reveal'>
            <span (click)="hideComments(i)" class="badge bg-moringa-alpha-7 text-white p-2 cursor-pointer">
              Hide comments                
              </span>
            <app-post-comments [post]='post' (newCommentEvent)='postComment($event,i)'></app-post-comments>
        </div>
        

        <ng-template #reveal>
          <span (click)="showComments(i)" class="badge bg-moringa-alpha-7 text-white p-2 cursor-pointer">Show comments on this post
            <span class="badge badge bg-moringa p-2 ml-1 font-weight-bolder">{{post.comments.length}}</span>
          </span>
        </ng-template>

      </div> <!-- End container to display post and comments -->

    </div><!-- End Card Body -->

    <div class="card-footer card-text text-white bg-moringa-alpha-7">
      Posted on {{post.postDate}}
    </div>

  </div>
</div>
