<div class="row mt-3 mb-3">
  <div class="col-1">
      <span> <i class="fa fa-user-circle  mr-2 p-1 shadow-sm bg-white rounded-circle"></i>
      </span>
  </div>

  <div class="col-11">
    <div class="row mb-2">
      user You
    </div>

    <div class="row">
      <form #postCommentForm='ngForm' (ngSubmit)="postComment()">
        <div class="form-group">
          <input type="text"
          class="form-control"
          name="comment" id="comment" #comment='ngModel'
          [(ngModel)]='newComment.content'
          placeholder="Type your comment..."
          >
        </div>

        <button class="btn btn-post text-white font-weight-bolder shadow-sm">Post comment</button>
      </form>
    </div>

  </div>
</div>
